@media screen and (max-width: 1400px) {
    #profile{
        height: 75vh;
        /* margin-bottom: 4rem; */
    }
    /* .about-containers{
        flex-wrap: wrap;
    } */
}

@media screen and (max-width: 1175px) {
    .arrow {
        bottom: -4.5rem;
    }
    #about {
        margin-bottom: 6rem;
    }
    #experience {
        margin-bottom: 6rem;
        height: 100%;
    }
    #projects {
        margin-bottom: 6rem;
    }
    .conatiner {
        justify-content: center;
        
    }
    .profile-pic{
        width: 410px;
        border-radius: 50%;
        height: 360px;
    }
    #content {
        height: 58vh;
    }
}
@media screen and (max-width: 1150px){
    .arrow {
        bottom: 2.5rem;
    }
    .about-containers {
        
        margin-top: 6rem;
    }
    .experince-detail-container {
        position: relative;
        bottom: 38px;
    }
    #about {
        margin-bottom: 6rem;
    }
    .arrow {
        bottom: 6rem;
    }
}
@media screen and (max-width: 1100px) {
    #desktop-nav{
        display: none;
    }
    #hamburgar-nav{
        display: flex;
    }

    #projects {
        margin-bottom: 0;
    }

    .logo-web-img{
        width: 316px;
        height: 130px;
        top: 6px;
        left: -60px;
    }
}


@media screen and (max-width: 1000px) {
    #experience,
    .experince-detail-container{
        margin-top: 2rem;
    }
    #profile{
        height: 77vh;
    }

    /* #profile,
    .section-container{
        display: block;
    } */
    .arrow{
        display: none;
    }
    section,
    .section-container{
        height: fit-content;
    }
    section{
        margin: 0 5%;
    }
    .profile-pic{
        width: 250px;
        height: 240px;
        margin:  0 auto 3px;
        /* position: relative;
        left: 390px;
        top: 30px; */
    }
    .section_pic-container{
        height: 558px;
    }
    .section___text {
        position: relative;
        bottom: 140px;
    }
    .title {
        margin-bottom: 3rem;
    }

    .about-pic{
        width: 278px;
        height: 374px;
        margin: 0;
        /* position: relative;
        left: 390px;
        top: 30px; */
    }
    #about p,
    #about h1{
        margin-bottom: 0.5rem;
    }
    
    .about-containers{
        margin-top: 0;
        flex-direction: column;
    }
}

/* @media screen and (max-width: 1100px) {
    .about-pic{
        position: relative;
        right: 600px;
    }
} */


@media screen and (max-width: 600px) {
    .logo-web-img{
        width: 250px;
        height: 134px;
        LEFT: -52PX;
    }
    #profile,
    .section-container{
        display: block;
    }
    
    #content,
    footer{
        height: 40vh;
    }
    #profile{
        height: 72vh;
        margin-bottom: 0;
    }
    article{
        font-size: 1rem;
    }
    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container{
        flex-wrap: wrap;
    }
    .contact-info-container{
        margin: 0;
    }
    .contact-info-container p,
    .nav-links li a{
        font-size: 1rem;
        padding: 1rem 2rem 1rem 0.5rem;
    }
    .experince-sub-title{
        font-size: 1.25rem;
    }
    .logo{
        font-size: 1.6rem !important;
    }
    .nav-links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section_pic-container{
        width: auto;
        height: 66vh;
        justify-content: center;
    }
    .section___text__p2{
        font-size: 1.25rem;
    }
    .title{
        font-size: 2rem;
    }
    .text-container{
        text-align: justify;
    }
    #about{
        margin-top: 6rem;
    }
}